* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f5f5f5;
}

.container-header {
    width: 100%;
    height: 80px;
    background-color: #ffff;
    overflow: hidden;
    position: fixed;
    z-index: 1;
}
.container-header .menuBar{
    width: 4%;
    /* background-color: blue; */
    float: left;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 1rem 1rem;
}
.container-header .menuBar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.container-header .menuBar .fa-bars {
    font-size: 28px;
    opacity: .6;
}

.container-header .menu {
    width: 30%;
    height: 100%;
    float: left;
    margin-left: 1px;
    /* background-color: red; */
}

.container-header .menu ul {
    list-style-type: none;
}

.container-header .menu ul li {
    float: left;
}

.container-header .menu ul li a {
    display: block;
    color: black;
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    opacity: .6;
    margin-top: 11px;
    transition: .5s;
}

/* .container-header .menu ul li a:hover{
    transform: scale(1.1);
} */
.container-header .menu ul li a::after {
    content: "";
    position: absolute;
    width: 4rem;
    height: 4px;
    border-radius: 8px;
    background-color: green;
    display: none;
    top: 0;
    transition: .5s;
}

.container-header .menu ul li:first-child {
    color: green;
    font-weight: bold;
}

.container-header .menu ul li a:hover::after {
    display: block;
}

.container-header .menu ul li a:focus {
    color: green;
    font-weight: bold;
    opacity: 1;
}

.container-header .searchBar {
    width: 35%;
    height: 100%;
    /* background-color: red; */
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-header .searchBar #searchInput {
    width: 70%;
    height: 2.5rem;
    border-radius: 20px;
    border: 1px solid grey;
    font-size: 15px;
    outline: none;
    opacity: .6;
}

.container-header .searchBar #searchInput:focus {
    border: 1px solid green;
}

::placeholder {
    padding: 20px;
}

.fa-magnifying-glass {
    margin-left: -40px;
}

.container-header .informationBar {
    width: 27%;
    height: 100%;
    /* background-color: red; */
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-header .informationBar .fa-bell,
.fa-envelope,
.fa-heart {
    margin-left: 15px;
    font-size: 20px;
    opacity: .7;
    cursor: pointer;
    transition: .5s;
}

.container-header .informationBar .fa-bell:hover,
.fa-envelope:hover,
.fa-heart:hover {
    transform: scale(1.1);
    color: green;
}

.fa-bell::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: green;
}

.container-header .informationBar .profile {
    width: 3.5rem;
    height: 3.5rem;
    background-color: blue;
    border-radius: 50%;
    margin-left: 20px;
}

.container-header .informationBar .profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.container-header .informationBar label {
    font-size: 15px;
    margin-left: 5px;
}

.container-header .informationBar label span {
    font-size: 13px;
    opacity: .8;
}

.fa-caret-down {
    cursor: pointer;
    margin-left: 5px;
}

.subLogin {
    width: 13rem;
    height: 0rem;
    background-color: white;
    position: fixed;
    border-radius: 10px;
    right: 0;
    top: 5rem;
    z-index: 1;
    transform: translateX(-1rem);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.subLogin ul {
    list-style-type: none;
    display: none;
    cursor: pointer;
}

.subLogin ul li {
    float: none;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-top: 1rem;
    width: 11rem;
    height: 60px;
    margin-left: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subLogin ul li .profile1 {
    width: 3rem;
    height: 3rem;
    background-color: gold;
    border-radius: 50%;
    float: left;
}

.subLogin ul li .profile1 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.subLogin ul li .profile2 {
    width: 3rem;
    height: 3rem;
    background-color: gold;
    border-radius: 50%;
    float: left;
}

.subLogin ul li .profile2 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#nameChange1 {
    font-size: 15px;
    margin-left: 5px;
    float: left;
    cursor: pointer;
}


.sliBar {
    width: 6%;
    height: 47rem;
    background-color: white;
    float: left;
    position: fixed;
    margin-top: 5rem;
    transition: .5s;
    z-index: 2;
}
.sliBar:hover{
    width: 15rem;
}
.sliBar:hover .icon span{
    display: block;
}

.sliBar .icon {
    width: 100%;
    height: 4rem;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    cursor: pointer;
}

.sliBar a {
    color: #212121;
    opacity: .8;
    text-decoration: none;
    font-weight: 600;
}

.sliBar .icon a:focus {
    color: green;
    font-weight: bold;
}

.sliBar #firstIcon {
    margin-top: 1rem;
}
.sliBar .icon span{
    opacity: .8;
    font-size: 22px;
    position: relative;
    padding: 10px;
    display: none;
    transition: .5s;
    color: #212121;
}
.sliBar .icon:hover{
    background-color: dodgerblue;
    border-radius: 3px;
}
.sliBar .icon .fa-gauge,
.fa-user-group,
.fa-chart-simple {
    font-size: 23px;
    cursor: pointer;
    opacity: .7;
    color: #212121;
}

.container-header .informationBar .fa-gauge::after,
.fa-user-group::after,
.fa-chart-simple::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 34px;
    border-radius: 5px;
    background-color: green;
    left: 0;
    display: none;
    transform: translateY(-30px);
    transition: .5s;
}

.container-header .informationBar .fa-gauge:hover::after,
.fa-user-group:hover::after,
.fa-chart-simple:hover::after {
    display: block;
}

.sliBar .line {
    width: 50%;
    height: .1px;
    background-color: black;
    opacity: .5;
    margin-left: 25%;
    margin-top: 1rem;
}

.sliBar .icon-soccer {
    width: 100%;
    height: 4rem;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    cursor: pointer;
}

#firstIcon-soccer {
    margin-top: 1rem;
}

.sliBar .icon-soccer .fa-futbol,
.fa-kaaba,
.fa-sun,
.fa-gears {
    font-size: 23px;
    opacity: .7;
    cursor: pointer;
}

.sliBar .icon-soccer .fa-futbol::after,
.fa-kaaba::after,
.fa-sun::after,
.fa-gears::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 40px;
    border-radius: 5px;
    background-color: green;
    left: 0;
    display: none;
    transform: translateY(-35px);
    transition: .5s;
}

.sliBar .icon-soccer .fa-futbol:hover::after,
.fa-kaaba:hover::after,
.fa-sun:hover::after,
.fa-gears:hover::after {
    display: block;
}
.fa-kaaba{
    color: green !important;
}
.sliBar  a {
    color: black;
    opacity: .8;
    text-decoration: none;
    /* color: green; */
}

.sliBar .icon-soccer a:focus {
    color: green;
    font-weight: bold;
}
.sliBar .icon-soccer span{
    opacity: .8;
    font-size: 22px;
    position: relative;
    padding: 10px;
    display: none;
    transition: .5s;
    color: #212121;
    font-weight: 600;
}
.sliBar .icon-soccer:hover{
    background-color: dodgerblue;
    border-radius: 3px;
}
.sliBar:hover .icon-soccer span{
    display: block;
}
.marquee {
    border-radius: 10px;
    margin: 6rem 5rem;
    position: relative;
    left: 5rem;
    float: left;
    overflow: hidden;
    font-family: "Pridi", sans-serif;
    font-weight: 600;
    font-size: 34px;
    width: 82%;
    text-transform: uppercase;
    background-color: white;
    
}

.marquee__inner {
    display: flex;
}

.marquee__line {
    flex-shrink: 0;
    margin: 0;
    padding: 10px 15px;
    min-width: 100%;
    white-space: nowrap;
    animation-name: marqueeLine;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes marqueeLine {
    from {
        transform: translateX(-27%);
    }

    to {
        transform: translateX(100%);
    }
}

.card {
    float: left;
    position: relative;
    left: 5rem;
    padding: .5rem;
    margin: 0rem 5rem;
    transform: translateX(-30rem);
    animation: card 1s linear forwards;
    transition: .4s;
}
.card:hover{
    opacity: .8;
    box-shadow: 6px 6px 6px 6px rgb(219, 218, 218);
    cursor: pointer;
}


@keyframes card {

    100% {
        transform: translateX(0);
    }
}



@media (min-width: 420px) and (max-width: 480px) {
    .card{
        width: 95%;
        /* margin-left: -4rem; */
        margin-left: -4.5rem;
        overflow: hidden;
    }
    .card img{
        width: 95%;
        margin-left: 10px;
    }
    .card-body{
        margin-top: -4rem;
    }
}


/*  Tablets, Ipads */

@media (min-width: 481px) and (max-width: 567px) {
    .card{
        width: 95%;
        /* margin-left: -4rem; */
        margin-left: -4rem;
        overflow: hidden;
    }
    .card img{
        width: 95%;
        margin-left: 10px;
    }
    .card-body{
        margin-top: -4rem;
    }
}
@media (min-width: 568px) and (max-width: 769px) {
    .card{
        width: 95%;
        /* margin-left: -4rem; */
        margin-left: -4rem;
        overflow: hidden;
    }
    .card img{
        width: 95%;
        margin-left: 10px;
    }
    .card-body{
        margin-top: -4rem;
    }
}
@media (min-width: 590px) and (max-width: 620px) {
    .card{
        width: 95%;
        /* margin-left: -4rem; */
        margin-left: -3rem;
        overflow: hidden;
    }
    .card img{
        width: 95%;
        margin-left: 10px;
    }
    .card-body{
        margin-top: -4rem;
    }
}
@media (min-width: 621px) and (max-width: 770px) {
    .card{
        width: 95%;
        /* margin-left: -4rem; */
        margin-left: -1rem;
        overflow: hidden;
    }
    .card img{
        width: 95%;
        margin-left: 10px;
    }
    .card-body{
        margin-top: -4rem;
    }
}


/* Tablets Ipads portrait mode */

@media (min-width: 768px) and (max-width: 1024px) {
    .card{
        max-width: 95% !important; 
        height: 20rem;
        /* margin-left: -4rem; */
        margin-left: -4rem;
        overflow: hidden;
    }
    .card img{
        width: 95%;
        height: 90% !important;
        margin-left: 10px;
    }
    .card-body{
        margin-top: 1rem;
    }
}

/*  Laptops and Desktops */

@media (min-width: 1025px) and (max-width: 1280px) {
    .card{
        max-width: 46% !important;
        height: 20rem;
        float: left;
        padding: 10px;
        margin-left: -3rem;
        overflow: hidden;
    }
    .card img{
        width: 95%;
        margin-left: 10px;
    }
    .card-body{
        float: none;
        margin-top: 0rem;
    }

}

/* Large screens */

@media (min-width: 1281px) {
  
}